<!doctype html>

<html>

<head>

<meta charset='utf-8'>

<title>Contact form</title>

<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

</head>

<body style='font-family: 'Open Sans',sans-serif; margin:0px auto; font-size:15px; width:100%;''>

<div class='main-div'  style='width: 90%;margin:20px auto; height:auto;border: 1px solid #ccc;'>

  <div class='content' style='width:100%; margin:0px auto;'>

    <div class='top-header' style='width: 100%;padding-bottom: 100px;padding-top: 10px;background: #78c2ca;border-bottom: 1px solid #ccc;'>

      <div class='logo' style=' float:left; width:22%'> <a href='https://www.volive.in/elag_new'>

      <img src='http://volive.in/elag_new/assets/images/logo2.png' alt='logo' style='width:110px !important;margin-left: 10px;'></a> </div>

      <div class='header-content' style=' float:left; width:70%'>

        <p style='margin-bottom: 0px;font-size: 25px;color: #fff;font-weight: 600;line-height: 18px;margin-top: 34px;  text-transform: uppercase;text-align: center;'>New User Contact</p>

      </div>

    </div>

    <div class='content' style='width:100%;padding: 15px 20px;'>

      <p style='width:90%;'><strong>Dear, Admin</strong></p>

      <p style='width:90%;margin-bottom: 0px;'>New user Contact from website, Please find the below user details.</p>

      </br>

      <p style='width:90%;margin-bottom: 0px;'>Name: {u_name}</p>
          <p style='width:90%;margin-bottom: 0px;'>Email: {u_email}</p>
              <p style='width:90%;margin-bottom: 0px;'>Website: {website}</p>
              <p style='width:90%;margin-bottom: 0px;'>Message: {message}</p>


    </div>

    <div style='background-color: #ddd; padding: 2px 20px;'>

      <p style='font-size:13px;font-weight:bold;width:90%;'>Best Regards,</p>

      <p><a href="https://www.volive.in/mobilefix">Mobilefix</a></p>

    </div>

  </div>

</div>

</body>

</html>
